body{

     background: #15151e;
      margin: 0;
 


}


.header{

    color: white;
    background: black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: clamp(0.65rem,0.65rem,0.65rem);
   
    font-family: "Inter", Arial, sans-serif;
   
    align-items: center;
 




}

.header >h1{

}



.header >img{

  height: auto ;
  width: clamp(120px,120px,120px);


}



.SelectionHeading{

color: white;
 font-family: "Inter", Arial, sans-serif;
 display: flex;
 justify-content: center;
 margin-top: clamp(35px,6vh,200px);
 font-size: clamp(10px,8vh,20px);



}

.appBody{

   display: flex;
   flex-direction: column;
     align-items: center;
     gap: clamp(20px,10vh,50px);
   



}


select{

  background-color: gray;
  border-radius: 5px;
}


form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(5px,5vh,20px);
}

option{

   background-color: gray;
   border-radius: 5px;



}


table{
  background-color: white;
}


.standingsTables{
  display: flex;
  gap: clamp(5px,5vh,40px);
}




.constructorStandings{
  max-width: 100px;
}


.driverStandings,
.constructorStandings{

   color: white;
   background-color: black;
   font-family: "Inter", Arial, sans-serif;
   border-radius: 5px;
    padding: clamp(10px,8vh,20px);

 



}

.driverStandings th,
.driverStandings td {
  padding: 8px 16px;
}


.constructorStandings th,
.constructorStandings td {
  gap: 6px 10px;
}